:root{
    --main_bg: #00BFFF;
    --text_color: #ffffff;
}        

html{
    background-color: var(--main_bg);
    background-image: url(../bluewave_bg.jpg);
    background-size: cover;
    color: var(--text_color);
    text-shadow: 1.5px 1.5px black;
    
}
header{
    text-align: center;
    text-shadow: 2px 2px black;
}

#viewbox{
    background-color: white;
    width: 100%;
    border-radius: 15px;
    display: flex;

    #leftview, #rightview{
        margin: 10px 10px 10px 10px;
    }
    #upload_image{
        cursor:pointer ;
    }

}

#infobox{
    padding: 0px 80px;
    font-weight: bold;
}

footer{
    display: flex;

    img{
        height: 25px;
        width: 25px;
    }
}